/* 
-----------------------------------
Configuracion inicial
-----------------------------------

*/
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Poppins-Light";
}
::after,
::before {
  box-sizing: inherit;
}

:root {
  --pink-primary: #b82ccb;
  --pink-secondary: #cc44cc;
  --purple-primary: #1d1851;
  --purple-secondary: #49346e;
  --blue-primary: #1512e4;
  --blue-secondary: #015ffb;
  --grey-primary: #98accb;
  --white: #ffff;
}
@font-face {
  font-family: "Poppins Regular";
  src: url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Poppins light";
  src: url("../fonts/Poppins/Poppins-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Poppins Medium";
  src: url("../fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Poppins bold";
  src: url("../fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.fondo {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: var(--purple-primary);
  top: 0;
}
.container-general {
  width: 95vw;
  height: 97vh;
  background: rgba(196, 196, 196, 0.10);
  /* backdrop-filter: blur(15px); */
  border-radius: 21px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
  scroll-behavior: smooth;
}
.container-general::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  margin-top: 20px;
}
.container-general::-webkit-scrollbar-thumb {
  background-color: var(--grey-primary);
  border-radius: 10px;
}
.container-general:-webkit-scrollbar-track {
  background: red;
  border-radius: 4px;
}

/* 
-----------------------------------
Configuracion inicial
-----------------------------------
*/
.main-general {
  position: relative;
  padding: 1rem;
  padding-left: 1rem;
  height: auto;
}
div[data-tilt="true"] {
  width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  background-color: transparent !important;
  line-height: 0 !important;
}
h1, h2, h3, h4, h5 {
  font-family: 'Poppins-Bold';
}
p, small, li, ul, b, span,label,input {
  font-family: 'Poppins-Regular';
}
section {
  min-height: 97vh;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .main-general {
    padding-left: 90px;
  }
}
